<% 
	body_class ||= 'collapsible_box_body_default'
	closeable &&= true
	envelope_class ||= ""
	head_class ||=  'collapsible_box_head_default'
	title ||= ''
	p_locals ||= Hash.new
%>

<div class="collapsible_box_envelope_default <%= envelope_class %>">
	<div class="<%= head_class %> collapse_btn bubbleInfo" align="center">
		<b><%= title %></b>
		<% if closeable %>
			<table id="dpop" class="popup">
	    	<tbody>
					<tr>
			  		<td id="topleft" class="corner"/><td class="top"/><td id="topright" class="corner"/>
			  	</tr>

			  	<tr>
			  		<td class="left"/><td style="padding:0;"><span class="popup-contents">Rimuovi questa sezione</span></td><td class="right"/>
			  	</tr>

			  	<tr>
			  		<td class="corner" id="bottomleft"/><td class="bottom"><img width="30" height="29" alt="popup tail" src="images/bubble-tail2.png"/></td><td id="bottomright" class="corner"/>
			  	</tr>
		    </tbody>
			</table>
			<%= image_tag "../images/close.gif", :class => "hide_btn trigger", :alt => "Chiudi" %>
		<% end %>
	</div>
	<div class="<%= body_class %> collapsible">
		<%= render :partial => content, :locals => p_locals %>
	</div>
</div>
