<% content_for :head do %>
	<%= enable_wmd(:autostart => true) %>
	<%= javascript_include_tag 'form_disabled' if params[:action]=='show' %>
	<%= javascript_include_tag 'segnalazione' %>
	<%= javascript_include_tag 'SmartWizard' %>
	<%= javascript_include_tag 'jquery.autocomplete' %>
	<%= javascript_include_tag 'jquery.bgiframe.min' %>
	<script>
	    $(document).ready(function(){
	        $(".segnalazione_cda_segnalatore:enabled").autocomplete("/utenti.js");
	    });
	</script>
	<%= stylesheet_link_tag 'form_disabled' if params[:action]=='show' %>
	<%= stylesheet_link_tag 'jquery.autocomplete' %>
	<%= stylesheet_link_tag 'style_wizard_vertical' %>
<% end %>

<input id="lastWiz" type="hidden" value="<%= lastStepForMe %>">

<div id="smartwizard" class="wiz-container">
    <ul id="wizard-anchor">
        <li>
            <a href="#wizard-1"><h2>Passo 1</h2>
                <small>
                    Informazioni <%= params[:action] == 'show' ? "update" : "create" %>generali
                </small>
            </a>
        </li>
        <li>
            <a href="#wizard-2" <%= "isdone='1'" if @segnalazione.already?(:VE) %><%= a_verifica_class %>><h2>Passo 2</h2>
                <small>
                    Verifica
                </small>
            </a>
        </li>
        <li>
            <a href="#wizard-3" <%= "isdone='1'" if @segnalazione.already?(:RA) %><%= a_analisi_class %>><h2>Passo 3</h2>
                <small>
                    Analisi
                </small>
            </a>
        </li>
        <li>
            <a href="#wizard-4"><h2>Passo 4</h2>
                <small>
                    Risoluzione
                </small>
            </a>
        </li>
        <li>
            <a href="#wizard-5"><h2>Passo 5</h2>
                <small>
                    Chiusura
                </small>
            </a>
        </li>
    </ul>
    <div id="wizard-body" class="wiz-body">
        <div id="wizard-1">
            <div class="wiz-content">
                <br/>
                <table align="center" class="info_gen">
                    <tr>
                        <td style="width: 12%;">
                            Segnalatore:
                        </td>
                        <td>
                            <% if @segnalazione.se? %>
                            <%= text_field_with_auto_complete @segnalazione, :cda_segnalatore, {:id => 'cda_segnalatore', :class => "segnalazione_cda_segnalatore", :size => 15, :value => @segnalazione.cda_segnalatore}, :disabled => params[:action] == 'show' %>
                            <% else %>
                            <b><%= @segnalazione.cda_segnalatore if @segnalazione.cda_segnalatore %></b>
                            <% end %>
                        </td>
                        <td style="width: 12%;">
                            Cliente:
                        </td>
                        <td>
                            <b><%= @segnalazione.cliente_des if @segnalazione.cda_cliente %></b>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 12%;">
                            Prodotto:
                        </td>
                        <td>
                            <b><%= @segnalazione.cda_prodotto if @segnalazione.cda_prodotto %></b>
                            <%#= text_field_with_auto_complete @segnalazione, :cda_prodotto, {:class => "segnalazione_cod_prodotto", :size => 12, :name => 'prodotto', :value => @segnalazione.cda_prodotto} %>
                        </td>
                        <td style="width: 12%;">
                            Versione:
                        </td>
                        <td>
                            <b><%= @segnalazione.cda_versione if @segnalazione.cda_versione %></b>
                            <!--<input type="text" class="text" name="cliente" id="cda_versione" value="<%= @segnalazione.cda_versione %>" />-->
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 12%;">
                            Modulo:
                        </td>
                        <td>
                            <!--<input type="text" class="text" name="modulo" id="cda_modulo" value="<%=@segnalazione.cda_modulo%>" size="5" /><b><%=@segnalazione.modulo_des if @segnalazione.cda_modulo %></b>--><b><%= @segnalazione.cda_modulo if @segnalazione.cda_modulo %></b>
                        </td>
                        <td style="width: 12%;">
                            Tipo segnalazione:
                        </td>
                        <td>
                            <%= select("@segnalazione", "cda_tipo_segna", TipoSegnalazione.all.collect {|ts| [ ts.des_tipo_segna, ts.cda_tipo_segna ] }) %>
                            <% if @segnalazione.anomalia? %>
                            <%= check_box("@segnalazione", "regressione_flg") %>
                            <%= image_tag 'thumb_down.png', :title => 'Regressione', :alt => 'Regressione' %>
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 12%;">
                            Task:
                        </td>
                        <td>
                            <input type="text" class="text" name="task" id="task_id" value="<%=@segnalazione.task_id%>" size="5" /><b><%=@segnalazione.task_des if @segnalazione.task_id %></b>
                        </td>
                        <td style="width: 12%;">
                            Commessa:
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 12%;">
                            Funzione:
                        </td>
                        <td>
                            <b><%= @segnalazione.funzione_label if @segnalazione.cda_programma %></b>
                        </td>
                        <td style="width: 12%;">
                            Funzionalità:
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wiz-nav">
                <div id="errMsg" class="error">
                </div>
                <input class="next btn" id="next" type="button" value="Verifica >" />
            </div>
        </div>
        <div id="wizard-2">
            <div class="wiz-content">
                <% if @segnalazione.VE? %>
                <p>
                    Hai appena confermato di aver verificato la segnalazione.
                    <br/>
                    Come intendi procedere?
                </p>
                <ul class="inside ">
                    <li>
                        La segnalazione è da risolversi per il prossimo rilascio.
                        <br/>
                        <input class="next btn auto_size" id="next" type="button" value="Inoltrala all'analista" />oppure <input class="next btn auto_size" id="next" type="button" value="Inoltrala allo sviluppatore" />
                    </li>
                    <li>
                        <% unless @segnalazione.VE? %>
                        <% if @segnalazione.anomalia? %>
                        L'anomalia non è replicabile.<% elsif @segnalazione.richiesta? %>
                        La richiesta di implementazione non è compatibile con il funzionamento del prodotto.<% end %>
                        <input class="next btn" id="next" type="button" value="Rifiutala" /><% end %>
                    </li>
                    <li>
                        La segnalazione non è pianificabile nella prossima versione, <input class="next btn" id="next" type="button" value="Rimandala" />
                    </li>
                </ul><% else %>
                <p>
                    La segnalazione è stata verificata da <b><%= @segnalazione.cda_verificatore %></b>.
                </p>
                <% end %>
                <% if @segnalazione.note_verificatore %>
                  <%= render :partial => 'widgets/markdown_editable', :locals => { :div_id => 'segnalazione_desc_note_verificatore', :div_class => 'segnalazione_show_note_verificatore', :master => @segnalazione, :field => 'note_verificatore' } %>
                <% end %>
            </div>
            <div class="wiz-nav">
                <input class="back btn" id="back" type="button" value="< Info generali" /><% unless @segnalazione.VE? %>
                <input class="next btn" id="next" type="button" value="Info analisi >" /><% end %>
            </div>
        </div>
        <div id="wizard-3">
            <div class="wiz-content">
            	
                <%= render :partial => 'widgets/markdown_editable', :locals => { :div_id => 'segnalazione_desc_risoluzione_analisi', :div_class => 'segnalazione_show_desc_ana', :master => @segnalazione, :field => 'des_risoluzione_ana' } %>
            </div>
            <div class="wiz-nav">
                <input class="back btn" id="back" type="button" value="< Info verifica" /><input class="next btn" id="next" type="button" value="Risolvi >" />
            </div>
        </div>
        <div id="wizard-4">
            <%= form_for @segnalazione, :as => :s4, :remote => true, :url => {:action => "update"} do |f| %>
            <div class="wiz-content">
                <table class="wizard_descrizione_risoluzione">
                    <tr>
                        <th>
                            Risolutore: 
                        </th>
                        <td>
                            <b><% if params[:action] == 'edit' and @segnalazione.has_to_be?(:RS) %>
                                <%= text_field_with_auto_complete @segnalazione, :cda_risolutore, {:class => "segnalazione_cda_risolutore", :size => 15, :value => @segnalazione.cda_risolutore} %>
                                <% else %>
                                <b><%= @segnalazione.cda_risolutore %></b><% end %>
                            </b>
                        </td>
                        <th>
                            Tempi per la risoluzione: 
                        </th>
                        <td>
                            <table class="fit">
                                <tr>
                                    <th>
                                        Stimate
                                    </th>
                                    <th>
                                        Impiegate
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <b><%= @segnalazione.tempo_risol_stimato %></b>
                                        ore
                                    </td>
                                    <td>
                                        <b><%= @segnalazione.tempo_risol_impiegato %></b>
                                        ore
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <% if @segnalazione.already?(:RS) %>
                    <tr>
                        <th>
                            Data risoluzione: 
                        </th>
                        <td>
                            <b><%= @segnalazione.dtm_risoluzione %></b>
                        </td>
                        <th>
                            Data rilascio: 
                        </th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Causa: 
                        </th>
                        <td colspan=="3">
                            <b><%= Causa.des(@segnalazione.cda_causa) %></b>
                        </td>
                    </tr>
                    <% else %>
                    <tr>
                        <th>
                            Causa: 
                        </th>
                        <td colspan=="3">
                            <%= f.collection_select :cda_causa, Causa.all, :cod_causa, :des, :include_blank => true %>
                        </td>
                    </tr>
                    <% end %>
                    <tr>
                        <td colspan="4">
                            <span class="span_textarea_descrizione_segnalazione"><%= render :partial => 'widgets/markdown_editable', :locals => { :div_id => 'segnalazione_desc_risoluzione', :div_class => 'segnalazione_desc_risoluzione', :master => @segnalazione, :field => 'des_risoluzione' } %>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <% end %>
            <div class="wiz-nav">
                <input class="back btn" id="back" type="button" value="< Info Analisi" /><input class="next btn" id="next" type="button" value="Risolvi >" />
            </div>
        </div>
        <div id="wizard-5">
            <div class="wiz-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="wiz-nav">
                <input class="back btn" id="back" type="button" value="< Info risoluzione" /><input class="btn" id="next" type="button" value="Valida" />
            </div>
        </div>
    </div>