<div>
	Stato: <b><%=@segnalazione.stato_des %></b> <%= @segnalazione.date_associated %><br/>
	<% if @segnalazione.actor_associated %>
		<%= "(#{@segnalazione.actor_associated})" %><br/>
	<% end %>
	Gravità: <%= image_tag "/images/lev#{@segnalazione.gravita}.png" %> |
	Priorità: <%= image_tag "/images/lev#{@segnalazione.priorita}.png" %><br/>
	Tipo: <%= tipo_segnalazione_image(@segnalazione.cda_tipo_segna) %> <b><%= @segnalazione.tipo %></b><br/>
	Data segnalazione: <b><%= @segnalazione.dtm_creaz %></b><br/>
	segnalata in <b><%= @segnalazione.cda_versione %></b><br/>
	<% if @segnalazione.cda_versione_pian %>
		pianificata per la <b><%= @segnalazione.cda_versione_pian %></b>
	<% else %>
		Non pianificata
	<% end %>
</div>