<% title "Dettaglio segnalazione #{@segnalazione.prg_segna}" %>

<% content_for :head do %>
	<%= enable_wmd(:autostart => true) %>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => 'widgets/collapsible_box', :locals => { :title => "Informazioni generali", :content => 'segnalazione_side_info', :segnalazione => @segnalazione } %>
<% end %>

<div class="segna_desc">
	<h1>GS <b><%= @segnalazione.prg_segna%></b></h1>
</div>

<div id="wmd-preview">
</div>
<div id="segnalazione_show_desc">
	<%=  raw(markdown(@segnalazione.des_segna)) %>
</div>
<div class="segnalazione_show_summary">

</div>

<%= link_to 'Modifica', edit_segnalazione_path(@segnalazione.prg_segna) %>
