<%= content_for :head do %>
  <%= javascript_include_tag 'jquery.scrollTo', 'gs_scroll' %>
  <%# DISABILITATO PER FAR ANDARE I LINK DI CAMBIO STATO %>
  <%#= javascript_include_tag 'versioni.segnalazioni.bookmarks' %>
<% end %>

<% version_set ||= Array.new %>

<ul class="versioni">
    <% version_set.each do |version| %>
    
    <li class="checked">
	        <a class="anchor_to" href="javascript:void(0)" version_id="<%= version.id %>" onClick="goToByScroll('<%= version.id %>')"><%= version.cda_versione %>
	        </a>
          <%= link_to("Apri", "/versioni/apri/#{version.id}") if version.stato_versione == 'C' %>
          <%= link_to("Chiudi", "/versioni/chiudi/#{version.id}") if version.stato_versione == 'A' %>
          <%= link_to("Depreca", "/versioni/depreca/#{version.id}") if version.stato_versione == 'C' %>
    </li>
    <% end %>
</ul>
