<%= form_tag({}, :method => :get) do %>
	<div>
		<table width="100%" style="border:0;">
			<tr>
				<td>
					<%= radio_button_tag( 'stato', 'aperte', (not params[:stato].eql?('chiuse'))) %> Aperte					
				</td>
				<td>
					<%= radio_button_tag( 'stato', 'chiuse', params[:stato].eql?('chiuse')) %> Chiuse
				</td>
			</tr>
		</table>
	</div>
	<%= check_box_tag "user", 1, params[:user] || (nil == params[:user]) %>
	<%= t(:label_show_only_user_versions) %>
	<p>
		<%= submit_tag t(:button_apply), :class => 'button-small', :name => nil %>
	</p>
<% end %>