	<tr class="segnalazione_head segnalazione_head_<%= segnalazione.prg_segna %>">
		<th align="left">
			<%= tipo_segnalazione_image(segnalazione.cda_tipo_segna) %>
			<b><%= link_to segnalazione.prg_segna, segnalazione_path(segnalazione.prg_segna) %></b>
		</th>
		<th id="segnalazione_summary">
			Segnalato da: <b><%= segnalazione.cda_segnalatore%></b> il <b><%= l segnalazione.dtm_creaz, :format => '%d/%m/%Y' %></b> (<%= pluralize(Date.today - segnalazione.dtm_creaz.to_date, 'giorno') %> fa)
			<% unless segnalazione.consegna_flg %>
				<span class="prendi_in_carico">
					<%= form_for(segnalazione, :remote => true, :url => { :controller => 'todo', :action => "presa_in_carico" }) do |form| %>
					  <%= form.hidden_field :prg_segna, :value => segnalazione.prg_segna %>
					  <%= image_submit_tag("target.png", :alt => 'Prendi in carico', :title => 'Prendi in carico') %>
					<% end %>					
				</span>
			<% end %>
		</th>
	</tr>
	<tr class="segnalazione_details segnalazione_details_<%= segnalazione.prg_segna %>">
		<td id="segnalazione_summary">
			<span style="white-space:nowrap;">
				<%= render :partial => "widgets/discrete_meter", :locals => { 
					:label => 'Gravità',
					:width => '120px', 
					:range => Gravita.range,
					:selected => segnalazione.cdn_gravita - 1,
					:style_class => 'no-border'
					}%>
					 <br/>
				<%= render :partial => "widgets/discrete_meter", :locals => { 
					:label => 'Priorità',				
					:width => '120px', 
					:range => Priorita.range,
					:selected => segnalazione.cdn_priorita - 1,
					:style_class => 'no-border'
				} %>
				Stato: <b><%=segnalazione.stato_des %></b><br/>
				Stima ore: <b><%=segnalazione.tempo_risol_stimato %></b><br/>
			</span>	
		</td>
		<td id="segnalazione_descrizione">
			<%=text_area_tag 'Descrizione', segnalazione.des_segna, :size => "70x4", :disabled => true, :class => 'descrizione_segnalazione_todo' %>
		</td>
	</tr>

	<tr class="segnalazione_bottom_spacer segnalazione_bottom_spacer_<%= segnalazione.prg_segna %>">
		<td colspan="2"/>
	</tr>