	<tr class="segnalazione_head segnalazione_head_<%= segnalazione.prg_segna %>">
		<th align="left">
			<%= tipo_segnalazione_image(segnalazione) %>
			<b><%= link_to segnalazione.prg_segna, segnalazione_path(segnalazione.prg_segna) %></b>
		</th>
		<th id="segnalazione_summary">
			Segnalato da: <b><%= utente(segnalazione.cda_segnalatore) %></b> il <b><%= l segnalazione.dtm_creaz, :format => '%d/%m/%Y' %></b> (<%= pluralize(Date.today - segnalazione.dtm_creaz.to_date, 'giorno') %> fa)
			<% if (segnalazione.actor_associated_to_current_state == current_user.user_name and not segnalazione.consegna_flg) %>
				<span class="prendi_in_carico">
					<%= form_for(segnalazione, :remote => true, :url => { :controller => 'todo', :action => "presa_in_carico" }) do |form| %>
					  <%= form.hidden_field :prg_segna, :value => segnalazione.prg_segna %>
					  <%= image_submit_tag("target.png", :alt => 'Prendi in carico', :title => 'Prendi in carico') %>
					<% end %>					
				</span>
			<% end %>
		</th>
	</tr>
	<tr class="segnalazione_details segnalazione_details_<%= segnalazione.prg_segna %>">
		<td id="segnalazione_summary">
			<span style="white-space:nowrap;">
				Gravità: <%= image_tag "/images/lev#{segnalazione.gravita}.png" %> |
				Priorità: <%= image_tag "/images/lev#{segnalazione.priorita}.png" %>
				 <br/>
				Stato: <b><%=segnalazione.stato_des %></b><br/>
				Stima ore: <b><%=segnalazione.tempo_risol_stimato %></b><br/>
			</span>	
		</td>
		<td id="segnalazione_descrizione">
			<%= content_tag :div, :class => 'descrizione_segnalazione_todo' do %>
				<%= markdown(segnalazione.des_segna).html_safe %>
			<% end %>
		</td>
	</tr>

	<tr class="segnalazione_bottom_spacer segnalazione_bottom_spacer_<%= segnalazione.prg_segna %>">
		<td colspan="2"></td>
	</tr>