<div id="versione_<%=versione.first if versione %>" class="versione">
	<table class="versione">
		<tr>
			<th rowspan="2" class="versione_nr <%= versione_class(versione) if versione %>" style="width: 20%">
				<%=versione ? versione.first : "Boh!" %> (<%=versione[1].size if versione %>)
			</th>
			<th style="width: 10%;" />
			<th>Analisi non lavorabile</th>
			<th>Analisi lavorabile</th>
			<th />
			<th>Sviluppo non lavorabile</th>
			<th>Sviluppo lavorabile</th>
		</tr>
		<tr>
			<td style="width: 10%;" />
			<td class="analisi_non_lavorabili">
				<%= desc_ore(versione, :tempo_ris_ana_stimato, :ve?) %>
			</td>
			<td class="analisi_lavorabili">
				<%= desc_ore(versione, :tempo_ris_ana_stimato, :aa?) %>
			</td>
			<td/>
			<td class="sviluppo_non_lavorabili">
				<%= desc_ore(versione, :tempo_risol_stimato, :aa?) %>
			</td>
			<td class="sviluppo_lavorabili">
				<%= desc_ore(versione, :tempo_risol_stimato, :as?) %>
			</td>
		</tr>
	</table>
</div>
<div id="segnalazioni_<%=versione.first %>" class="segnalazioni_container">
	<table class="segnalazioni">
		<%= render :partial => segnalazione_partial, :collection => versione[1], :as => :segnalazione %>
	</table>
</div>

