<% sezioni = grouped(versione[1]) %>
<tr>
    <td>
        <div id="versione_<%=versione[0] if versione %>" class="versione hand">
				<table class="versione_head">
	                <tr>
	                    <th rowspan="2" class="versione_nr <%= versione_class(versione[0]) if versione %>" style="width: 25%">
	                        <%=versione ? versione[0] : "Boh!" %> (<%=versione[1].size if versione %>)
	                    </th>
	                    <th style="width: 10%;">
	                    </th>
	                    <th style="width: 65%;">
	                        Ore: <%= ore_per_sezione(sezioni) %>
	                    </th>
	                </tr>
	            </table>            	
            <div id="gruppi_<%=versione.first %>" class="gruppi_container">
                <table id="<%=versione[1]%>" class="gruppi">
                    <%= render :partial => "wipreadywait", :collection => sezioni, :as => :segnalazioni %>
                </table>
            </div>
        </div>
    </td>
</tr>
