<% uid = segnalazioni[0].downcase.dehumanize if segnalazioni[0] %>
<tr>
    <td>
        <div class="gruppo gruppo_<%=uid%>">
            <table class="gruppo_head gruppo_head_<%=uid%>">
                <tr>
                    <th rowspan="2" style="width: 25%">
                        <b><%= segnalazioni[0] %></b>
                        (<span id="<%=uid%>_count" class="counter"><%=segnalazioni[1].size %></span>)
                    </th>
                    <th style="width: 10%;">
                    </th>
                    <th style="width: 65%;">
                        Ore: 
                    </th>
                </tr>
            </table>
            <div id="segnalazioni_<%=segnalazioni.first %>" class="segnalazioni_container">
                <table class="segnalazioni">
                    <%= render :partial => segnalazione_partial, :collection => segnalazioni[1], :as => :segnalazione %>
                </table>
            </div>
        </div>
    </td>
</tr>
