<tr class="gruppo_<%= segnalazioni[0].downcase.dehumanize %>">
	<td id="gruppo_<%= segnalazioni[0].downcase.dehumanize %>_head" class="gruppo_<%= segnalazioni[0].downcase.dehumanize %> gruppo_head">
		<span class="group_name" style="width: 200px;">
			<b><%= segnalazioni[0] %></b> (<%=segnalazioni[1].size %>)
		</span>
		<span>Ore</span>
		<div id="segnalazioni" class="segnalazioni_container">
			<table class="segnalazioni">
				<%= render :partial => segnalazione_partial, :collection => segnalazioni[1], :as => :segnalazione %>
			</table>
		</div>
	</td>
</tr>
