<% title "Autenticazione" %>
<div class="login_form" helpId="loginForm">
	<span>
		<%= image_tag("authentication.png") %>
	</span>
	<span>
	    <%= form_for @user_session, :url => user_session_path do |f| %>
	    	<%= f.error_messages %>
			<br/>
	    	<div>
	    		<table>
	    			<tr>
	    				<td><%= f.label :username %>:</td>
						<td><%= f.text_field :user_id, :size => 12 %></td>
						<td rowspan="2">
							&nbsp;
						</td>
						<td rowspan="2">
							<%= f.submit "Entra", :class => 'button blue' %>							
						</td>
	    			</tr>
					<tr>
						<td><%= f.label :password %>:</td>
						<td><%= f.password_field :user_pwd, :size => 12 %></td>
					</tr>
	    		</table>
			</div>
	    <% end %>
	</span>
</div>
